{% extends "adminBase.html"%}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card p-4 shadow-lg border-0">
                <h2 class="text-center mb-1 fw-bold">Add a New Device</h2>
                <p class="text-center text-muted mb-4">Provide details about your device</p>
                <form id="addDevice-form" onsubmit="handleFormSubmit(event)">
                    <div class="form-group mb-3">
                        <label for="deviceName">Device Name</label>
                        <input type="text" class="form-control" id="deviceName" aria-describedby="deviceName" placeholder="Enter device name">
                    </div>
                    <div class="form-group mb-3">
                        <label for="deviceType">Device Type</label>
                        <input type="text" class="form-control" id="deviceType" placeholder="Enter device type">
                    </div>
                    <div class="form-group mb-3">
                        <label for="deviceInstallationDate">Installation Date</label>
                        <input type="text" class="form-control" id="deviceInstallationDate" placeholder="Enter installation date">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">Add Device</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Your device has been successfully added!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

{%endblock%}

