{% extends "base.html"%}
{% block content%}
    <style>
        #map {
            height: 500px;
            border-radius: 8px;
            margin-top: 20px;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <div class="container">
        <h2 class="text-center fw-bold">Map of Locations</h2>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg border-0 p-4">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-6F3OwFpDAf2UV1awpnM6O5h15d/C+STk/w3Lz4/4KtPssZ8dDEj4lkIKn4aAhMOZ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script>
        const map = L.map('map').setView([52.52, 13.405], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        const marker = L.marker([52.52, 13.405]).addTo(map)
            .bindPopup('<b>Berlin, Germany</b><br>Default location.')
            .openPopup();
    </script>
{%endblock%}